<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Code Nerd</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="shortcut icon" href="images/RK.ico" />
		<script src="script.js"></script>
	</head>
	<body>
		<div class="header">
			<a class="rklogo" href="/"></a>
			<a style="background-image: url('images/fb.png');" class="sociallink" target="blank_" href="https://www.facebook.com/rudi.kershaw"></a>
			<a style="background-image: url('images/li.png');" class="sociallink" target="blank_" href="https://uk.linkedin.com/in/rudikershaw"></a>				
			<a target="blank_" href="http://stackoverflow.com/users/2182928/rudi" style="float:right;">
				<img src="http://stackoverflow.com/users/flair/2182928.png?theme=dark" width="208" height="58" alt="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
			</a>
		</div>
		
		<h1>Rudi Kershaw</h1>
		<h2>Web &amp; Software Developer, Science Geek, and Research Enthusiast</h2>
		<br />
		<p>This is just somewhere for me to jot down my ideas, show off recent work, rant about injustices, make notes on stuff, and just generally ramble
		about geeky things. Geeky things might range from clever code snippets I've enjoyed, open source libraries I've appreciated, and 
		other such computery things. Or, geeky things could be latest developments in some technology sectors or science genres.</p>		
		
		<div class="entry">
			<h4>A Formal Definition of a Computational Method - Part 2</h4>
			<img src="images/taocp.jpg" alt="TAoCP" height="240" width="290" />
			<p style="block">At the end of my Defining an Algorithm article, I said that my next 
			instalment would be to go through the example of a mathematical implementation of Euclid's
			algorithm that is at the end of the Algorithms section in the first chapter of The Art of 
			Computer Programming - Volume 1. And that is exactly what I am going to do. If you've not
			already read the previous instalment, I suggest that you do that first in order to fully 
			understand the example we are describing in this article.<br /><br />
			So, let's get straight to it. The next line in the chapter, after our last article left off,
			states the following... <a href="articles/computationalmethod">Read More...</a></p>
		</div>		
		<div class="entry">
				<h4>A PHP Text Adventure</h4>
				<img src="images/game.jpg" alt="Typesetting" height="240" width="290" />
				<p style="block">Just a simple text adventure game that I threw together out of boredom 
				more than anything else. I used PHP because I needed an excuse to work with PHP and this 
				seemed like as good a reason as any. It probably wont appeal to anyone but developers. It's a little 
				bit wierd.<br /><br />
				<a href="http://rudikershaw.co.nf/subsites/phpadventure/begin.php">Play Game...</a></p>
		</div>
		<div class="entry">
				<h4>HTTP Basics</h4>
				<img src="images/http.jpg" alt="Typesetting" height="240" width="290" />
				<p style="block">It was recently brought to my attention that I really don't know the first thing about <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP</a>,
				what it means, how it works, or what the implications are for me as a developer. Having had a read around it seems to me that a lot of developers are 
				in a similar situation. So I set out to learn and to write this, a missive on the points I found most pertinent. I like to think that I can get 
				into a fair amount of depth whilst keeping it simple.<br /><br />
				First things first, what does HTTP mean? HTTP is the acronym for Hypertext Transfer Protocol. Now interpreting those three words could seem fairly 
				complicated on the face of things but it really does say everything we need to know. Hypertext Transfer...<a href="articles/httpbasics">Read More...</a></p>
		</div>
		<div class="entry">
				<h4>@font-face - Taking Typesetting Seriously</h4>
				<img src="images/typesetting.jpg" alt="Typesetting" height="240" width="290" />
				<p style="block">I've recently spent some time looking into declaring new or interesting fonts for websites. Declaring them, of course, is easy.
				The trick is being able to view them from any computer whether said font is installed or not. And thats where the <i>@font-face {}</i> css
				syntax comes in. After having had a play around with the usual methods, and looking up best practices, it becomes quite clear that the act of 
				simply adding your own font to your website makes a huge impact to the look, feel and style of your work. Having seen how infrequently this
				technique is used it seems only fair to say that its about time people started taking typesetting seriously on the web. The rest of this article 
				details how the fonts... <a href="articles/typesetting">Read More...</a></p>
		</div>
		<div class="entry">
			<h4>A Formal Definition of a Computational Method</h4>
			<img src="images/taocp.jpg" alt="TAoCP" height="240" width="290" />
			<p style="block">Working your way through the volumes of The Art of Computer Programming is a fairly challenging task even for many experienced
			programmers and computer scientists (at least so I'm told). Most of the text is fairly easy to understand and digest but Knuth is a mathematician,
			so most sections finish with some hard-core-no-holds-barred-maths. I have no formal maths education beyond GCSE maths (high-school maths for 
			the Americans amongst you), so you can imagine my horror when faced with an enormous block of text involving set theory, series, functions,
			and the rest at the end of the first section. This article is essentially my notes as I work my way through the serious maths at the end of the
			first... <a href="articles/computationalmethod">Read More...</a></p>
		</div>
		<br />
		<h2>"We are at the very beginning of time for the human race. It is not unreasonable that we grapple with problems. But there are tens of thousands 
		of years in the future. Our responsibility is to do what we can, learn what we can, improve the solutions, and pass them on."<br /> - <i>Richard P. Feynman</i></h2>
		<br />
		
	</body>
</html>