<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Code Nerd</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="shortcut icon" href="images/RK.ico" />
		<script src="script.js"></script>
	</head>
	<body>
		<div class="header">
			<a class="rklogo" href="/"></a>
			<a style="background-image: url('images/fb.png');" class="sociallink" target="blank_" href="https://www.facebook.com/rudi.kershaw"></a>
			<a style="background-image: url('images/li.png');" class="sociallink" target="blank_" href="https://uk.linkedin.com/in/rudikershaw"></a>				
			<a target="blank_" href="http://stackoverflow.com/users/2182928/rudi" style="float:right;">
				<img src="http://stackoverflow.com/users/flair/2182928.png?theme=dark" width="208" height="58" alt="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
			</a>
		</div>
		
		<h1>Rudi Kershaw</h1>
		<h2>Web &amp; Software Developer, Science Geek, and Research Enthusiast</h2>
		<br />
		<p>This is just somewhere for me to jot down my ideas, show off recent work, rant about injustices, make notes on stuff, and just generally ramble
		about geeky things. Geeky things might range from clever code snippets I've enjoyed, open source libraries I've appreciated, and 
		other such computery things. Or, geeky things could be latest developments in some technology sectors or science genres.</p>		
		<div class="container">
			<a th:each="article : ${all}" th:href="${article.path}">
				<div class="entry">
					<h4 th:text="${article.name}">Article Title</h4>
					<img th:src="${article.imagePath}" height="240" width="290" />
					<p th:text="${article.description}">Article Description</p>
				</div>
			</a>
		</div>
		<br style="clear: both;" />
		<h2>"We are at the very beginning of time for the human race. It is not unreasonable that we grapple with problems. But there are tens of thousands 
		of years in the future. Our responsibility is to do what we can, learn what we can, improve the solutions, and pass them on."<br /> - <i>Richard P. Feynman</i></h2>
		<br />
		
	</body>
</html>