<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<title>Make a Donation</title>
		<meta name="robots" content="noindex" />
		<meta name="description" content="My name is Rudi Kershaw and I am a science nerd, research nerd, and software developer (nerd). And this, is where I like to ramble about technical stuff." />
		<meta name="author" content="Rudi Kershaw" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=1" />
		<link rel="shortcut icon" href="/images/RK.ico" />
		<link href="https://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="header" th:replace="index :: header"></div>
		<div style="height:60px;" />
		<h1>Donation Cancelled.</h1>
        <hr />
		<h2 style="margin: 120px auto">For one reason or another your donation was cancelled. If that was intentional you can navigate back to the <a href="/">home page</a>, otherwise you can go back to the <a href="/donate">donations page</a> to try again.</h2>
		<br style="clear: both;" />
		<div class="footer" th:replace="index :: footer"></div>
    </body>
</html>
