<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Make a Donation</title>
  <meta name="description" content="My name is Rudi Kershaw and I am a science nerd, research nerd, and software developer (nerd). And this, is where I like to ramble about technical stuff." />
  <meta name="author" content="Rudi Kershaw" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=2" />
  <link rel="shortcut icon" href="/images/RK.ico" />
  <link href="https://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
</head>
	<body>
		<header th:replace="index :: header"></header>

        <div class="view-height">
            <div class="container">
                <h1>A Little Up-keep</h1>
                <hr />

                <h2>Unfortunately there is no such thing as a free web hosting service that provides everything I need to keep this site running. So, if you've found my articles helpful and you're feeling especially generous any little you
                    can give helps me pay for hosting, domain names, and database storage.</h2>
                <br />
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="PMK52VBFWMA7N" />
                    <input type="image" src="https://www.rudikershaw.com/images/Donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online." />
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>

        <div class="footer" th:replace="index :: footer"></div>
    </body>
</html>
