<div th:if="${redditPost != null}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Latest Reddit Post</h3>
    <a class="reddit-post" th:href="${redditPost.link}">
        <div class="reddit-post-header">
            <span class="reddit-icon">
                <i class="fa fa-reddit-alien"></i>
            </span>
            <span class="reddit-header-text">
                <span class="reddit-subreddit" th:if="${not #lists.isEmpty(redditPost.categories)}" th:text="${'r/' + redditPost.categories[0].name}">r/subreddit</span>
                <span class="reddit-time" th:if="${redditPost.publishedDate != null}" th:text="${' · ' + #dates.format(redditPost.publishedDate, 'MMM dd')}"></span>
            </span>
        </div>
        <h4 class="reddit-title" th:text="${redditPost.title}">Post Title</h4>
        <p class="reddit-selftext" th:if="${description != null}" th:text="${description}"></p>
        <div class="reddit-post-image" th:if="${thumbnail != null}">
            <img th:src="${thumbnail}" alt="Post image" />
        </div>
        <div class="reddit-actions">
            <span class="reddit-pill">
                <i class="fa fa-arrow-up"></i>
                Vote
            </span>
            <span class="reddit-pill">
                <i class="fa fa-comment-o"></i>
                Comment
            </span>
            <span class="reddit-pill">
                <i class="fa fa-share"></i>
                Share
            </span>
        </div>
    </a>
</div>
