<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Rudi Kershaw's Bibliography</title>
		<meta name="description" content="." />
		<meta name="author" content="Rudi Kershaw" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preload" href="/fonts/Inter-VariableFont.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=3" />
		<link rel="shortcut icon" href="/images/RK.ico" />
		<link rel="stylesheet" type="text/css" href="/styles/vendor/font-awesome.min.css" />
		<script> var FF_FOUC_FIX; </script>
    </head>
	<body>
		<div class="faded-background-cover"></div>
		<header th:replace="~{index :: header}"></header>

		<section class="container off-centre">
			<h1 id="bibliography-start">Bibliography</h1>

			<aside id="genre-key" style="display: none">
				<p class="genre-key-stats">Genres predicted by whichx, my Naive Bayes classifier. The model never sees these books in training.</p>
				<p class="genre-key-summary"></p>
				<table class="genre-key-table">
					<thead>
						<tr>
							<th scope="col">Genre</th>
							<th scope="col"><span class="long">Precision</span><abbr class="short" title="Precision">P</abbr></th>
							<th scope="col"><span class="long">Recall</span><abbr class="short" title="Recall">R</abbr></th>
							<th scope="col">F1</th>
							<th scope="col"><span class="long">Seen</span><abbr class="short" title="Seen">n</abbr></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</aside>

			<ol id="bibliography-list">
				<li class="date-divider"><h2>Today</h2></li>
				<li id="bibliography-item-template" style="display: none">
					<cite></cite><span class="author-sep"> - </span><i><span class="author"></span></i>
					<p class="synopsis"></p>
					<div class="entry-meta"></div>
					<button type="button" class="review-toggle" aria-expanded="false">
						<span class="review-toggle-label">Read review</span>
						<i class="fa fa-chevron-down review-toggle-chevron" aria-hidden="true"></i>
					</button>
					<div class="review-wrapper">
						<blockquote class="review"></blockquote>
					</div>
				</li>
			</ol>
		</section>

		<footer th:replace="~{index :: footer}"></footer>
		<script async src="/scripts/bibliography.min.js"></script>
	</body>
</html>
