<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Rudi Kershaw's Bibliography</title>
		<meta name="description" content="." />
		<meta name="author" content="Rudi Kershaw" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=3" />
		<link rel="shortcut icon" href="/images/RK.ico" />
		<link href="https://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
    </head>
	<body>
		<header th:replace="index :: header"></header>

		<section class="container off-centre">
			<h1 id="bibliography-start">Bibliography</h1>
			<br /><br />

			<ol id="bibliography-list">
				<h2 class="date-divider">Today</h2>
				<li id="bibliography-item-template" style="display: none">
					<cite></cite> - <i><span class="author"></span></i>
					<p class="synopsis"></p>
				</li>
			</ol>
		</section>

		<footer th:replace="index :: footer"></footer>
		<script async src="/scripts/bibliography.min.js"></script>
	</body>
</html>
