<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title>Oops!</title>
	<meta name="robots" content="noindex" />
	<meta name="description" content="My name is Rudi Kershaw and I am a science nerd, research nerd, and software developer (nerd). And this, is where I like to ramble about technical stuff." />
	<meta name="author" content="Rudi Kershaw" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=1" />
	<link rel="shortcut icon" href="/images/RK.ico" />
	<link href="http://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
</head>
	<body>
		<div class="header" th:replace="index :: header"></div>
		<br />
        <br />
		<h1>Oops! Something broke.</h1>
        <br />
		<h2>Sorry about this. At some point I really need to implement some strong error logging stuff.
            For the mean-time though, you can navigate back to the <a href="/">home page</a> to try again.</h2>
	</body>
</html>