<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Oops</title>
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex" />
		<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<link rel="shortcut icon" href="/images/RK.ico" />
	</head>
	<body>
		<div class="header" th:replace="index :: header"></div>
		<br />
        <br />
		<h1>Oops! Something broke.</h1>
        <br />
		<h2>Sorry about this. At some point I really need to implement some strong error logging stuff.
            For the mean-time though, you can navigate back to the <a href="/">home page</a> to try again.</h2>
	</body>
</html>