<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Rudi Kershaw</title>
		<meta name="description" content="My name is Rudi Kershaw and I am a science nerd, research nerd, and software developer (nerd). And this, is where I like to ramble about technical stuff." />
		<meta name="author" content="Rudi Kershaw" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=1" />
		<link rel="shortcut icon" href="/images/RK.ico" />
		<link href="https://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="faded-background-cover"></div>
		<header th:fragment="header">
			<a class="rklogo" href="/">RK</a>
			<a class="sociallink" target="blank_" href="https://twitter.com/RudiKershaw"><i class="fa fa-twitter"></i></a>
			<a class="sociallink" target="blank_" href="https://uk.linkedin.com/in/rudikershaw"><i class="fa fa-linkedin"></i></a>
			<a class="sociallink" target="blank_" href="https://github.com/rudikershaw"><i class="fa fa-github"></i></a>
			<a class="donatelink" href="/donate">Donate</a>
			<a class="stack-overflow-link" target="blank_" href="https://stackoverflow.com/users/2182928/rudi">
				<img src="https://stackoverflow.com/users/flair/2182928.png?theme=dark" width="208" height="58" alt="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
			</a>
		</header>

		<div class="view-height">
			<div class="container">
				<h1 class="my-name">Rudi Kershaw</h1>
				<h2 class="my-summary">Programmer, Science Nerd, Skeptic</h2>
				<p class="my-description">This is my website. It is a place for me to write, experiment with new technologies,
					apply my craft, and show off my work. This is where I show-case my activities, and where I talk about what
					interests me. Please feel free to look around. </p>
				<ul class="bullets">
					<li>M.Ost, DO, ND - Masters in Osteopathy</li>
					<li>Certified Java SE 6 Programmer</li>
					<li>Coursera Machine Learning</li>
					<li>1st Dan in Tang Soo Do</li>
				</ul>
			</div>
		</div>

		<div class="flex-row">
			<div>
				<h2>Latest Tweet</h2>
				<a class="tweet" href="https://twitter.com/RudiKershaw/with_replies">
					<img class="profile-image" src="/images/twitter-profile-image.jpg"  alt="Twitter profile image"/>
					<div class="tweet-body">
						<p class="twitter-handle">
							<b>Rudi Kershaw</b>
							<span class="grey">@RudiKershaw &#183; <span th:text="${#dates.format(tweet.createdAt, 'MMM dd')}"></span></span></p>
						<p th:text="${tweet.text}"></p>
					</div>
				</a>
			</div>
			<div>

				<h2>Latest Article</h2>
				<a class="entry-card" th:href="${latest.path}">
					<div class="entry">
						<h4 th:text="${latest.name}">Article Title</h4>
						<img th:src="${latest.imagePath}" height="240" width="290" />
						<p th:text="${latest.description}">Article Description</p>
					</div>
				</a>

			</div>
			<div>
				<h2>Latest Commits</h2>

			</div>
			<div>
				<h2>Latest Stackoverflow</h2>

			</div>
		</div>

		<div class="black-band">
			<a th:href="${trending.path}" class="container">
				<img th:src="${trending.imagePath}" height="144" width="174"/>
				<div class="box-600" >
					<h2>Most Viewed - Last 7 Days</h2>
					<h3 th:text="${trending.name}">Article Title</h3>
					<p th:text="${trending.description}">Article Description</p>
				</div>
				<div style="clear: both;"></div>
			</a>
		</div>
        <div class="navigate">
			<a class="home latest" href="/">Latest</a>
			<div class="next-previous">
				<a class="next"></a>
				<a class="previous previous-off"></a>
			</div>
		</div>
		<hr style="clear:both;" />
		<div id="page" class="entries container">
			<a class="entry-card" th:each="article : ${all}" th:href="${article.path}">
				<div class="entry">
					<h4 th:text="${article.name}">Article Title</h4>
					<img th:src="${article.imagePath}" height="240" width="290" />
					<p th:text="${article.description}">Article Description</p>
				</div>
			</a>
		</div>
		<div class="navigate">
			<div class="next-previous">
				<a class="next"></a>
				<a class="previous previous-off"></a>
			</div>
		</div>
		<br />
		<br style="clear: both;" />
		<div class="footer" th:fragment="footer">
			<div class="container">
				<h2 style="color:white;">"We are at the very beginning of time for the human race. It is not unreasonable that we grapple with problems. But there are tens of thousands
				of years in the future. Our responsibility is to do what we can, learn what we can, improve the solutions, and pass them on."<br /> - <i>Richard P. Feynman</i></h2>
			</div>
		</div>
		<script src="/scripts/vendor/jquery-1.7.min.js"></script>
		<script async="true" src="/scripts/pagination.min.js?v=2"></script>
	</body>
</html>
