<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Rudi Kershaw</title>
		<meta name="description" content="My name is Rudi Kershaw and I am a science nerd, research nerd, and software developer (nerd). And this is where I write and show off my work." />
		<meta name="author" content="Rudi Kershaw" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=4" />
		<link rel="shortcut icon" href="/images/RK.ico" />
		<link href="https://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="faded-background-cover"></div>
		<header th:fragment="header">
			<a class="rklogo" href="/">RK</a>
			<a class="sociallink" target="blank_" href="https://twitter.com/RudiKershaw"><i class="fa fa-twitter"></i></a>
			<a class="sociallink" target="blank_" href="https://uk.linkedin.com/in/rudikershaw"><i class="fa fa-linkedin"></i></a>
			<a class="sociallink" target="blank_" href="https://github.com/rudikershaw"><i class="fa fa-github"></i></a>
			<a class="donatelink" href="/donate">Donate</a>
			<a class="stack-overflow-link" target="blank_" href="https://stackoverflow.com/users/2182928/rudi-kershaw">
				<img src="https://stackoverflow.com/users/flair/2182928.png?theme=dark" width="208" height="58" alt="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Rudi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
			</a>
		</header>

		<section class="view-height">
			<div class="container off-centre">
				<h1 class="my-name">Rudi Kershaw<span class="name-stop">.</span></h1>
				<h2 class="my-summary">Programmer, Science Nerd, Skeptic</h2>
				<p class="my-description">This is my website. It is a place for me to write, experiment with new technologies,
					apply my craft, and show off my work. This is where I show-case my activities, and where I talk about what
					interests me. Please feel free to look around.</p>
				<ul class="bullets">
					<li>M.Ost, DO, ND - Masters in Osteopathy</li>
					<li>Software Development Engineer - AWS</li>
					<li>Certified Java SE 6 Programmer</li>
					<li>Machine Learning Hobbyist</li>
					<li>Casual Linux User</li>
				</ul>
			</div>
			<a class="theres-more" href="#my-activity"><i class="fa fa-chevron-down"></i></a>
		</section>

		<section id="my-activity" class="flex-row">
			<div class="latest-commits">
				<h3>Latest Commits</h3>
				<figure>
					<img width="100%" src="https://ghchart.rshah.org/rudikershaw" alt="Rudi Kershaw GitHub contributions chart">
					<figcaption>Summary of GitHub contributions made by <a href="https://github.com/rudikershaw">@rudikershaw</a></figcaption>
				</figure>
			</div>

			<div id="latest-tweet"></div>

			<div id="latest-read" style="display:none;">
				<h3>Latest Read</h3>
				<div class="book-details">
					<div>
						<h4><cite class="title"></cite></h4>
						<p ><i class="author"></i></p>
						<br />
						<p class="synopsis"></p>
						<br/>
						<p class="review-paragraph"><i>&ldquo;</i><span class="review"></span><i>&rdquo;</i></p>
						<br />
						<a href="/bibliography">My Bibliography</a>
					</div>
				</div>
			</div>

			<div>
				<h3>Latest Article</h3>
				<a class="entry-card" th:href="${latest.path}">
					<div class="entry">
						<h4 th:text="${latest.name}">Article Title</h4>
						<img th:src="${latest.imagePath}" height="240" width="290" th:alt="'Article thumbnail for \'' + ${latest.name} + '\' by Rudi Kershaw'" />
						<p th:text="${latest.description}">Article Description</p>
					</div>
				</a>
			</div>
		</section>

		<section id="my-articles">
			<h2 class="my-articles">My Articles</h2>
			<div class="black-band">
				<a th:href="${trending.path}">
					<img th:src="${trending.largeImagePath}" th:alt="'Article thumbnail for \'' + ${trending.name} + '\' by Rudi Kershaw'" />
					<h2>Most Viewed - Last 7 Days</h2>
					<h3 th:text="${trending.name}">Article Title</h3>
					<p th:text="${trending.description}">Article Description</p>
				</a>
			</div>

			<div id="page" class="entries">
				<a class="entry-card" th:each="article : ${all}" th:href="${article.path}">
					<div class="entry">
						<h4 th:text="${article.name}">Article Title</h4>
						<img th:src="${article.imagePath}" loading="lazy" height="240" width="290" th:alt="'Article thumbnail for \'' + ${article.name} + '\' by Rudi Kershaw'" />
						<p th:text="${article.description}">Article Description</p>
					</div>
				</a>
			</div>
		</section>

		<footer class="index-footer" th:fragment="footer">
			<blockquote class="text-container">
				<p>"We are at the very beginning of time for the human race. It is not unreasonable that we grapple with problems. But there are tens of thousands
				of years in the future. Our responsibility is to do what we can, learn what we can, improve the solutions, and pass them on."</p>
				<footer>- Richard P. Feynman, <cite>The Pleasure of Finding Things Out</cite></footer>
			</blockquote>
		</footer>
		<script async src="/scripts/main.min.js"></script>
	</body>
</html>
