<head th:fragment="head" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <title th:text="${article.name + ' - by Rudi Kershaw'}">Rudi Kershaw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" th:attr="content=${article.description != null ? article.description : 'This is just somewhere for me to jot down my ideas, show off recent work, rant about injustices, make notes on stuff, and just generally ramble about geeky things'}" />
    <meta name="author" content="Rudi Kershaw" />

    <link rel="canonical" th:href="${baseUrl + article.path}" />

    <meta property="og:type" content="article" />
    <meta property="og:title" th:content="${article.name + ' - by Rudi Kershaw'}" />
    <meta property="og:description" th:content="${article.description}" />
    <meta property="og:image" th:content="${baseUrl + article.largeImagePath}" />
    <meta property="og:url" th:content="${baseUrl + article.path}" />
    <meta property="article:published_time" th:content="${#dates.format(article.published, 'yyyy-MM-dd')}" />
    <meta property="article:author" content="Rudi Kershaw" />

    <script type="application/ld+json" th:inline="javascript">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": /*[[${article.name}]]*/ "",
        "description": /*[[${article.description}]]*/ "",
        "image": /*[[${baseUrl + article.largeImagePath}]]*/ "",
        "datePublished": /*[[${#dates.format(article.published, 'yyyy-MM-dd')}]]*/ "",
        "url": /*[[${baseUrl + article.path}]]*/ "",
        "author": { "@type": "Person", "name": "Rudi Kershaw", "url": /*[[${baseUrl}]]*/ "" }
    }
    </script>

    <link rel="preload" href="/fonts/Inter-VariableFont.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=2" />
    <link rel="shortcut icon" href="/images/RK.ico" />
    <link rel="stylesheet" type="text/css" href="/styles/vendor/font-awesome.min.css" />
    <script> var FF_FOUC_FIX; </script>
</head>
