<head class="head" th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <title th:text="${article.name + ' - by Rudi Kershaw'}">Rudi Kershaw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" th:attr="content=${article.description != null ? article.description : 'This is just somewhere for me to jot down my ideas, show off recent work, rant about injustices, make notes on stuff, and just generally ramble about geeky things'}" />
    <meta name="author" content="Rudi Kershaw" />

    <meta name="twitter:card" th:content="summary_large_image" />
    <meta name="twitter:site" content="@RudiKershaw" />
    <meta name="twitter:title" th:content="${article.name + ' - by Rudi Kershaw'}" />
    <meta name="twitter:description" th:content="${article.description}" />
    <meta name="twitter:image" th:content="${baseUrl + article.largeImagePath}" />

    <link rel="stylesheet" type="text/css" href="/styles/style.min.css?v=2" />
    <link rel="shortcut icon" href="/images/RK.ico" />
    <link href="https://designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.min.css" rel="stylesheet" />
</head>
