<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/article/head :: head"></head>
	<body>
		<header th:replace="index :: header"></header>
		<article>
			<div class="text-container">
				<p class="date">19/02/2015</p>
				<p class="views"><span th:text="${article.views}"></span> views</p>
			</div>
			<h1 th:text="${article.name}">Defining an Algorithm</h1>
			<hr />
			<img class="coverimg" src="/images/taocp_text.jpg" alt="Text from a page of a book: 'Let us formally define a computational method'" />
			<br />

			<p>Working your way through the volumes of The Art of Computer Programming is a fairly challenging
			task even for many experienced programmers and computer scientists (at least so I'm told). Most of
			the text is fairly easy to understand and digest but Knuth is a mathematician, so many sections
			finish with some hard-core-no-holds-barred-maths. I have no formal maths education beyond GCSE
			maths (high-school maths for the Americans amongst you), so you can imagine my horror when faced
			with an enormous block of text involving set theory, series, functions, and the rest at the end of
			the 'Basic Concepts' section. This article is essentially my notes as I work my way through the serious maths.</p>
			<br />
			<p>In the first chapter, at the end of the 'Basic Concepts' section is the first time Knuth turns to
			formal mathematical definitions and notation to describe phenomena that has previously been described
			in plain text. It's at this point that those without any advanced formal maths education will have difficulty. If the reader is anything like me however, they are a completionist,
			and won't want to skip those bits to move forward. They'll want to understand them. Let's make a start
			where he does.</p>

			<blockquote>Let us formally define a computational method to be a quadruple <var>(Q, I, Ω, f)</var>, in
			which <var>Q</var> is a set containing subsets <var>I</var> and <var>Ω</var> and <var>f</var> is a function from <var>Q</var> into itself.</blockquote>

			<p>When Knuth refers to a <var>computational method</var> as a <var>quadruple</var> he is simply saying that a computational
			method is composed of four distinctly defined parts. He labels these four parts as <var>(Q, I, Ω, f)</var>. He
			then moves on to briefly describe each component of this quadruple. <var>I</var> and <var>Ω</var> are sets (collections of
			things), and <var>Q</var> is also a set which contains the things in the sets <var>I</var> and <var>Ω</var>. At this point it's easy
			to mistakenly assume that he means that <var>Q</var> contains only the sets <var>I</var> and <var>Ω</var> and nothing else. But we later
			find that this is not the case. Lastly he describes <var>f</var> as a function from <var>Q</var> into itself. What this means
			is that <var>f</var> is a process which takes an input which is an element from the set <var>Q</var> and returns or outputs
			another element from <var>Q</var>.</p>

			<blockquote>Furthermore <var>f</var> should leave <var>Ω</var> pointwise fixed; that is, <var>f(q)</var> should equal <var>q</var> for all elements <var>q</var> of <var>Ω</var>.</blockquote>

			<p>What this essentially means is that, what our function <var>f</var> returns, will be the same as its argument (i.e. the value will
			not change) if the argument is a member or element of (thing in) set <var>Ω</var>. This makes more sense when Knuth makes a clarification
			in his next statement; Spoiler alert - <var>Ω</var> is the set of possible outputs of our computational method. Once we know this it's a
			little easier to understand. Passing an output back into our function will not change it.</p>

			<blockquote>The four quantities <var>Q, I, Ω, f</var> are intended to represent respectively the states of the computation, the input,
			the output, and the computational rule.</blockquote>

			<p>So <var>Q</var> is a set that contains all possible states of the computation i.e. all the possible variations of input, output and all the stages in
			between. The set <var>I</var> contains all possible inputs. The set <var>Ω</var> contains all possible outputs (sorry if I spoiled that revelation for you earlier).
			And finally, <var>f</var> represents the computational rule; that is, the process/es applied to each state to get the next state, eventually (hopefully)
			until we get our output.</p>

			<blockquote>Each input <var>x</var> in the set <var>I</var> defines a computational sequence, <var>x<sub>0</sub>, x<sub>1</sub>, x<sub>2</sub>, ...</var>,
				as follows:     <var>x<sub>0</sub></var> = <var>x</var>     and    <var>x<sub>k+1</sub></var> = <var>f(x<sub>k</sub>)</var>    for <var>k</var> ≥ 0.</blockquote>

			<p>I wrestled with the above lines for some time, and had to ask the opinion of a friend with a maths degree what he thought about it before
				securely arriving at a consensus. My first thought was to think that each <var>x</var> (or each element) in the set of all inputs ( <var>I</var> ), <em>was</em> a sequence.
				But when Knuth says "Each input x in the set I defines a ... sequence", that is not what he appears to mean. The only interpretation that
				makes sense here is that for each <var>x</var> in the set of all inputs <em>there exists</em> a corresponding sequence in which the first state in the sequence
				is <var>x<sub>0</sub></var> and that this first state is the raw input. Hence, <var>x<sub>0</sub></var> = <var>x</var>. When he says that <var>x<sub>k+1</sub></var> = <var>f(x<sub>k</sub>)</var>    for <var>k</var> ≥ 0 he's saying that for every state
				in the sequence that has an index of <var>0</var> or more we can get the next state in the sequence by putting it through a function <var>f(x<sub>k</sub>)</var>. So, if you
				put <var>x<sub>1</sub></var> into the function, you get <var>x<sub>2</sub></var> out (assuming of course that <var>x<sub>1</sub></var> is not the final state. We'll come to that later) <var>f(x<sub>1</sub>)</var> = <var>x<sub>2</sub></var>. That way,
				we can repeatedly apply the function to each new state to get the state that follows. An important note here, when Knuth earlier states
				that <var>Q</var> is the set of all computational states, these are the states he is talking about (along-side the inputs and outputs of course).
			</p>

			<blockquote>The computational sequence is said to terminate in <var>k</var> steps if <var>k</var> is the smallest integer for which <var>x<sub>k</sub></var> is in <var>Ω</var>, and in this case
			it is said to produce the output <var>x<sub>k</sub></var> from <var>x</var>.</blockquote>

			<p>The sequence is said to terminate in <var>k</var> steps where <var>k</var> is the first position in the series that exists in <var>Ω</var>. What this means of course, is that a series runs from <var>x<sub>0</sub></var> (the input) to <var>x<sub>k</sub></var>
			and <var>x<sub>k</sub></var> is then the output, and therefore a member of <var>Ω</var>.</p>
			<br />
			<p>Now here's the clincher, thus far we've been defining a computational method rather than an algorithm.</p>

			<blockquote>Some computational sequences may never terminate; an algorithm is a computational method that terminates
			in finitely many steps for all <var>x</var> in <var>I</var></blockquote>

			<p>What we mean here when we say "finitely many steps for all <var>x</var> in <var>I</var>" is that for all the elements ( <var>x</var> ) in <var>I</var> (all our potential inputs) there is a
			sequence of computational states that is finite, i.e. does eventually end. Or in layman's terms, no input we put into our algorithm will cause
			the algorithm to run forever.</p>
			<br />
			<p>And there ends our formal definition. I hope this has been as helpful to you reading this as it was for me to write it. And now, if your brain
			isn't fried from reading the above my brain is certainly fried from having written it. The only thing left to do at this point is to go through
			an example, which is exactly what Knuth does next. In <a href="computationalmethod2">my next instalment</a> I will go through that example.</p>
			<br />
			<p>So, until then, happy reading!</p>
		</article>
		<hr />

		<div class="article-footer" th:fragment="article-footer">
			<div class="navigate">
				<a class="home" href="/">Home</a>
				<div class="next-previous">
					<a class="next" th:href="${ next == null ? '#' : ('/' + next.path) }" title="Next"></a>
					<a class="previous" th:style="${ previous == null ? 'display:none' : '' }" th:href="${ previous == null ? '#' : ('/' + previous.path) }" title="Previous"></a>
				</div>
			</div>
			<h1 style="clear:both;">Rudi Kershaw</h1>
			<h2>Web &amp; Software Developer, Science Geek, and Research Enthusiast</h2>
			<br />
		</div>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - Defining an Algorithm';
			var disqus_title = 'Defining an Algorithm';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
