<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head>
        <link th:replace="fragments/article/head :: head">
    </head>
	<body>
		<header th:replace="index :: header"></header>
		<article>
			<div class="text-container">
				<p class="date">06/04/2015</p>
				<p class="views"><span th:text="${article.views}"></span> views</p>
			</div>
			<h1>Defining an Algorithm - Part 2</h1>
			<hr />
			<img class="coverimg" src="/images/taocp_text2.jpg" alt="Text from a page of a book: 'The correspondance between with notation and Algorithm E is evident'" />
			<br />

			<p>At the end of my <a href="computationalmethod">Defining an Algorithm article</a>, I said that my next instalment would be to go
			through the example of a mathematical implementation of Euclid's algorithm that is at the end of the
			Algorithms section in the first chapter of The Art of Computer Programming - Volume 1. And that is
			exactly what I am going to do. If you've not already read the previous instalment, I suggest that you
			do that first in order to fully understand the example we are describing in this article.</p>
			<br />
			<p>So, let's get straight to it. The next line in the chapter, after our last article left off, states
			the following;</p>

			<blockquote>Algorithm E may, for example, be formalized in these terms as follows: Let <var>Q</var> be
			the set of all singletons <var>(n)</var>, all ordered pairs <var>(m, n)</var>, and all ordered quadruples <var>(m, n,  r, 1)</var>,
			<var>(m, n, r, 2)</var>, and <var>(m, n, p, 3)</var>, where <var>m</var>, <var>n</var>, and <var>p</var> are positive integers and <var>r</var> is a nonnegative
			integer. Let <var>I</var> be the subset of all pairs <var>(m, n)</var> and let <var>Ω</var> be the subset of all singletons <var>(n)</var>.</blockquote>

			<p>Now, first things first, I am going to presume you understood the workings and purpose of Algorithm E
			(Euclid's algorithm) explained to us earlier in the chapter. If you haven't already, this would be a
			good time to go back and familiarize yourself with it.</p>
			<br/>
			<p>So, as we know from the previous article <var>Q</var> represents a collection of all possible states of our algorithm,
			including our inputs, outputs and everything between the two. <var>Q</var> contains <var>I</var> and <var>Ω</var>, which are out inputs
			and outputs respectively. All Knuth is doing at this point is declaring what variables (in groups)
			represent the various stages of Euclid's Algorithm. As we know Euclid's Algorithm takes two positive
			integers, which are represented together as the pair <var>(m, n)</var>, as our input. When it's done it gives us a
			single integer, the greatest common divisor of <var>m</var> and <var>n</var>, which Knuth declares as being represented by the
			singleton <var>(n)</var>. So what do we have left unaccounted for at this point? Well, we have the quadruples
			<var>(m, n, r, 1)</var>, <var>(m, n, r, 2)</var>, and <var>(m, n, p, 3)</var>. They represent the steps in between, the states of our
			variables, during the process of working out our largest common divisor. Then the difficult bit, the
			computational rule is defined.</p>

			<blockquote>
				<var>f((m, n))</var> = <var>(m, n, 0, 1)</var>; &emsp;	<var>f((n))</var> = <var>(n);</var><br />
				<var>f((m, n, r, 1))</var> = <var>(m, n, </var>remainder of <var>m</var> divided by <var>n, 2);</var><br />
				<var>f((m, n, r, 2))</var> = <var>(n)</var> if <var>r</var> = 0,	<var>(m, n, r, 3)</var> otherwise<var>;</var><br />
				<var>f((m, n, p, 3))</var> = <var>(n, p, p, 1)</var>.<br />
			</blockquote>

			<p>When I first looked at the above, I remember thinking that I would never understand it. The only way
			I managed to finally get to grips with it was by attempting to use the functions to get an expected
			result. Once I've described how it all works and what it means I implore you to try and use it to work
			through a few examples yourself until it sticks. Human beings learn through doing, not just through
			reading. Each statement, ending in a semicolon (' ; '), is a definition of what the function will do with
			certain arguments. Each argument is of course one of the states of the computation, and as we know from
			Knuth's formal definition we pass our states back into our function to get the next state, until we get
			our end results or output (which will not change if passed back into the function).</p>
			<br />
			<p>Our first statement <var>f((m, n))</var> = <var>(m, n, 0, 1);</var> defines what our function (or computation rule)
			does with the initial input <var>m</var> &amp; <var>n</var>. So this is where we start, and from looking at it we can see
			that, taking our input (<var>(m, n)</var> pair from <var>I</var>) our function converts it to one of the quadruples
			(one of the intermediate states). Nothing has been done to <var>m</var> and <var>n</var>, so they remain the same, but
			now we also have <var>0</var> and <var>1</var>. The <var>0</var> is just filler, and the <var>1</var> seems to represent the step to be
			performed next. So, now we have a quadruple which needs to be passed back into our function to
			get the next state. At this point, take a look at the formula above, and look for what our
			function would do to our result. If we pass our <var>0</var> into the variable <var>r</var> then the statement on the
				next line down fits the bill perfectly: <var>f((m, n, r, 1))</var> = <var>(m, n, remainder of m divided by n, 2);</var>.
			You can see at this stage that we've done the division to find the remainder and now, we have a
			new intermediate quadruple, which can be passed through our function again using the definition
			on the third line of the formula. The third line statement checks whether the remainder calculated
			in our last step is <var>0</var>, if so it converts our quadruple into the singleton <var>(n)</var>. If that is the case
			then that is the end of our process. Passing the singleton <var>(n)</var> back into the function will not
			change it. <var>(n)</var> is our output (the largest common divisor). If our remainder is not <var>0</var> then we get
			another quadruple, which is passed into the statement on the last line of the formula. All this
			does is re-arrange the variables to pass them back to our function as <var>f((m, n, r, 1))</var>, and we
			start again. The re-arranging of the variables is essentially the replacing of <var>m</var> with our old <var>n</var>
			value, and then replacing <var>n</var> with the remainder (as per our original definition of Euclid's
			Algorithm).</p>
			<br />
			<p>Now at this point, in order for it to actually sink in, I think it's prudent to go through an
			actual example with our example algorithm. Imagine we want to find the largest common divisor of
			our pair <var>(6, 4)</var>. This is our input <var>(m, n)</var>. Passing this into our input gives us <var>f((6, 4))</var> =
			<var>(6, 4, 0, 1);</var>.  This is our second line in the formula. Pass our new quadruple to the third line
			and we get <var>f((6, 4, 0, 1))</var> = <var>(6, 4, 2, 2);</var> where the first <var>2</var> is the remainder of <var>6/4</var>. So now we
			pass it back in again and get <var>f((6, 4, 2, 2))</var> = <var>(6, 4, 2, 3);</var>  because the remainder was not <var>0</var>.
			And lastly, it get passed to the bottom line in the formula and we get <var>f((6, 4, 2, 3))</var> =
			<var>(4, 2, 2, 1);</var>. Now we have re-arranged our variables so that <var>m &lt;- n</var> and <var>n &lt;- r</var> and passed it back
			to the second line in the formula. And now we go around again. Now we do <var>f((4, 2, 2, 1))</var> =
			<var>(4, 2, 0, 2)</var> because <var>0</var> is the remainder of <var>4/2</var>, and then <var>f((4, 2, 0, 2))</var> = <var>(2)</var> because our
			remainder was <var>0</var> and we therefore have our answer which is <var>2</var>. This all looks a little something
			like this;</p>
			<br />
			<pre class="code"><var>f((6, 4))</var> = <var>(6, 4, 0, 1)</var>;
<var>f((6, 4, 0, 1))</var> = <var>(6, 4, 2, 2)</var>;
<var>f((6, 4, 2, 2))</var> = <var>(6, 4, 2, 3)</var>;
<var>f((6, 4, 2, 3))</var> = <var>(4, 2, 2, 1)</var>;
<var>f((4, 2, 2, 1))</var> = <var>(4, 2, 0, 2)</var>;
<var>f((4, 2, 0, 2))</var> = <var>(2)</var>;
<var>f((2))</var> = <var>(2)</var>;</pre>
			<br />
			<p>It's worth restating at this point, that the last number in the quadruples indicates how the
			function will work on it next. Before we move onto the next bit, sit down and work through a few
			of your own examples. If you think you've got it already, try working through something much more
			complicated than starting with <var>6</var> and <var>4</var>.</p>
			<br />
			<p>I think that's enough for this instalment. Next, Knuth mentions that this system doesn't
			restrict defined Algorithms to strictly effective ones, where there are a finite number of steps
			or where the steps can always be performed by a human being. He then goes onto describe a second
				implementation of Algorithm E, using Markov algorithms that doesn't have this issue. <a href="computationalmethod3">In our next instalment</a>, I will be
			describing what those are and how they apply to the next few paragraphs.</p>
			<br />
			<p>I hope this was helpful. Thanks for reading. If you have any criticism, corrections, objections,
			or (Gods forbid) praise just drop me a comment under the article, and until my next article, happy
			reading!</p>
		</article>
		<hr />

		<div class="article-footer" th:replace="fragments/article/footer :: article-footer"></div>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - Defining an Algorithm - Part 2';
			var disqus_title = 'Defining an Algorithm  - Part 2';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
