<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="articles/computationalmethod :: head" />
	<body>
		<div class="header" th:replace="index :: header"></div>
		<br />
		<div class="text-container">
			<p class="date">17/11/2019</p>
			<p class="views"><span th:text="${article.views}"></span> views</p>
		</div>
		<h1 th:text="${article.name}">Git Hooks and Java Projects</h1>
		<hr />
		<img class="coverimg" src="/images/git-hooks-banner.jpg" alt="Picture of a close up section of an old fishing hook" />
		<br />

		<p>I hope that reading this piece will convince you, not just to use Git hooks, but also <strong class="bold">how and why</strong>
			we should use them in our projects. I've tried to find best practices for using git hooks in our projects, but not found anything.
			I hope that this can serve as a starting point.</p>
		<br />
		<h2>Why Use Git Hooks?</h2>
		<br />
		<p>One reason, is to automate a process that you do before or after a certain action you perform with Git. An example might be to set off a
			build when changes are received on a given branch, and then deploy your application for testing. However, these kinds of tasks are usually
			solved by development tools built specifically for these purposes. For example Jenkins pipelines, Travis CI, Github actions, etc.</p>
		<br />
		<p>My favorite reason is for validation. You can think of Git as defining our workflow and the hooks can be used to ensure we adhere to a certain
			standard before we move onto the next step. This early validation provides us with quick and regular feedback (important for developing expertise
			in any field) and stops us from wasting time by straying down the wrong path.</p>
		<br />
		<p>Lets take a simple example, first without the hook. Your project has a standard commit messages format, and you've done an early commit on
			your branch wrong. Then you merge in another branch, add multiple new commits, and push. The remote repository rejects your changes and explains
			what you have done wrong. You now have to change that single commit message on your branch. You could do an interactive rebase, squash merge onto
			a new branch, or cherry-pick your commits onto a new branch. Either way, you have to do more work than normal.</p>
		<br />
		<p>What about with a validating hook in place to provide early feedback? Your project has a standard commit messages format, and
			you've done an early commit on your branch wrong. The commit-msg hook stops the commit, immediately flags your commit message as incorrect, and asks
			you to try again. Done. Early regular feedback stops you making work for yourself, and you learn not to make that mistake much quicker.</p>
		<br />
		<h2>Managing Your Hooks</h2>
		<br />
		<p>Let's say you're convinced and you want to add some hooks. How should we organise them? Makes sense to keep them in your project's Git repo so you can
			track changes to them. But what if you need to use them across multiple repositories? And how will you get the client side hooks installed for everyone
			working on the project?</p>
		<br />
		<p>Hooks should be managed the same way any good code should be. They should be a dependency of your project, pulled in and installed/updated when you build
			your application. Let's go through an example Java setup using Maven as our build tool. Full disclosure: I wrote one plugin and the client side
			Git hooks library used in the example that follows. So it might be worth checking to see if there is anything better suited for your needs first.</p>
		<br />
		<h2>Java &amp; Maven Example</h2>
		<br />
		<p>First you're going to need a git repository for your own hooks, or a standard library of hooks. We're not going to go into writing the hooks themselves.
			There are plenty of resources out there for that. So for our example I am going to use my small configurable library of
			<a href="https://github.com/rudikershaw/client-git-hooks" target="_blank">client side git hooks</a>.</p>

		<br />
		<br />
		<hr />

		<div class="article-footer" th:replace="articles/computationalmethod :: article-footer"></div>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - Git Hooks and Java Projects';
			var disqus_title = 'Git Hooks and Java Projects';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
