<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="articles/computationalmethod :: head" />
	<body>
		<div class="header" th:replace="index :: header"></div>
		<br />
		<div class="text-container">
			<p class="date">17/11/2019</p>
			<p class="views"><span th:text="${article.views}"></span> views</p>
		</div>
		<h1 th:text="${article.name}">Git Hooks and Java Projects</h1>
		<hr />
		<img class="coverimg" src="/images/git-hooks-banner.jpg" alt="Picture of a close up section of an old fishing hook" />
		<br />

		<p>I hope that reading this piece will convince you, not just to use Git hooks, but also <strong class="bold">how and why</strong>
			we should use them in our projects. I've tried to find best practices for using git hooks in our projects, but not found anything.
			I hope that this can serve as a starting point.</p>
		<br />
		<h2>Why Use Git Hooks?</h2>
		<br />
		<p>One reason, is to automate a process that you do before or after a certain action you perform with Git. An example might be to set off a
			build when changes are received on a given branch, and then deploy your application for testing. However, these kinds of tasks are usually
			solved by development tools built specifically for these purposes. For example Jenkins pipelines, Travis CI, Github actions, etc.</p>
		<br />
		<p>My favorite reason for using hooks is as validation. You can think of Git as defining our workflow and the hooks can be used to ensure we adhere to a certain
			standard before we move onto the next step. This early validation provides us with quick and regular feedback (important for developing expertise
			in any field) and stops us from wasting time by straying down the wrong path.</p>
		<br />
		<p>Lets take a simple example, first without the hook. Your project has a standard commit messages format, and you've done an early commit on
			your branch wrong. Then you merge in another branch, add multiple new commits, and push. The remote repository rejects your changes and explains
			what you have done wrong. You now have to change that single commit message on your branch. You could do an interactive rebase, squash merge onto
			a new branch, or cherry-pick your commits onto a new branch. Either way, you have to do more work than normal.</p>
		<br />
		<p>What about with a validating hook in place to provide early feedback? Your project has a standard commit messages format, and
			you've done an early commit on your branch wrong. The commit-msg hook stops the commit, immediately flags your commit message as incorrect, and asks
			you to try again. Done. Early regular feedback stops you making work for yourself, and you learn not to make that mistake much quicker.</p>
		<br />
		<h2>Managing Your Hooks</h2>
		<br />
		<p>Let's say you're convinced and you want to add some hooks. How should we organise them? Makes sense to keep them in your project's Git repo so you can
			track changes to them. But what if you need to use them across multiple repositories? And how will you get the client side hooks installed for everyone
			working on the project?</p>
		<br />
		<p>Hooks should be managed the same way any good code should be. They should be a dependency of your project, pulled in and installed/updated when you build
			your application. Let's go through an example Java setup using Maven as our build tool. Full disclosure: I wrote one plugin and the client side
			Git hooks library used in the example that follows. So it might be worth checking to see if there is anything better suited for your needs first.</p>
		<br />
		<h2>Java &amp; Maven Example</h2>
		<br />
		<p>First we're going to need a git repository for our own hooks, or a standard library of hooks. We're not going to go into writing the hooks themselves.
			There are plenty of resources out there for that. So for our example we will use my small configurable library of
			<a href="https://github.com/rudikershaw/client-git-hooks" target="_blank">client side git hooks</a>.</p>
		<br />
		<p>Next we need to store, and making available, releasable version of our hooks. If your hooks are managed in a Maven project you could deploy them
			to a Maven repository, and get them into your project using the <a href="https://maven.apache.org/plugins/maven-dependency-plugin/" target="_blank">maven-dependency-plugin</a>.
			If your hooks library is just a collection of shell files, as in our case, then we can just make each releasable version available for download by
			URL. GitHub lets us add arbitrary compressed files to each release, and gives us an end-point you can download from.</p>
		<br />
		<p>Now we need to get a particular release of our hooks into our project. We want it to do this during our build. As we just have a URL,
			we can use the <a href="https://maven.apache.org/plugins/maven-antrun-plugin/" target="_blank">maven-antrun-plugin</a> to download and unpack our hooks.
			Here's our plugin definition from our pom.xml.</p>
		<br />
		<pre class="code">
&lt;plugin&gt;
  &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
  &lt;artifactId&gt;maven-antrun-plugin&lt;/artifactId&gt;
  &lt;version&gt;1.8&lt;/version&gt;
  &lt;executions&gt;
    &lt;execution&gt;
      &lt;id&gt;download-hooks&lt;/id&gt;
      &lt;phase&gt;initialize&lt;/phase&gt;
      &lt;goals&gt;
        &lt;goal&gt;run&lt;/goal&gt;
      &lt;/goals&gt;
      &lt;configuration&gt;
        &lt;failOnError&gt;false&lt;/failOnError&gt;
        &lt;target&gt;
          &lt;taskdef resource=&#x22;net/sf/antcontrib/antcontrib.properties&#x22; /&gt;
          &lt;if&gt;
            &lt;available file=&#x22;${basedir}/etc/git-hooks/v${git.hooks.version}&#x22; /&gt;
            &lt;else&gt;
              &lt;delete dir=&#x22;${basedir}/etc/git-hooks/&#x22;/&gt;
              &lt;get src=&#x22;https://github.com/rudikershaw/client-git-hooks/releases/download/${git.hooks.version}/git-hooks.zip&#x22;
		   dest=&#x22;${project.build.directory}/git-hooks.zip&#x22;/&gt;
              &lt;unzip src=&#x22;${project.build.directory}/git-hooks.zip&#x22; dest=&#x22;${basedir}/etc&#x22;/&gt;
              &lt;chmod dir=&#x22;${basedir}/etc/git-hooks/&#x22; includes=&#x22;**/**&#x22; perm=&#x22;700&#x22;/&gt;
              &lt;touch file=&#x22;${basedir}/etc/git-hooks/v${git.hooks.version}&#x22; /&gt;
            &lt;/else&gt;
          &lt;/if&gt;
        &lt;/target&gt;
      &lt;/configuration&gt;
    &lt;/execution&gt;
  &lt;/executions&gt;
  &lt;dependencies&gt;
    &lt;dependency&gt;
      &lt;groupId&gt;ant-contrib&lt;/groupId&gt;
      &lt;artifactId&gt;ant-contrib&lt;/artifactId&gt;
      &lt;version&gt;20020829&lt;/version&gt;
    &lt;/dependency&gt;
  &lt;/dependencies&gt;
&lt;/plugin&gt;</pre>
		<br />
		<p>With the above, we've added in a few important features. We create a version file in the directory we move the hooks to. That way we
			can check if we have the correct version already and then skip the process if it has already been done. By checking the version like this
			it will work as you would expect if you change the ${git.hooks.version} property declared at the top of our pom.xml (not shown). We are
			also giving the files the appropriate permissions to allow Git to run them.</p>
		<br />
		<p>I have chosen to put our hooks directory into the etc/ directory in our project. Initially it might seem target/ is a better place to put
			them, as they are effectively temporary files downloaded in the build. But we don't really want these files cleared away if someone runs
			mvn clean.</p>
		<br />
		<p>We have our hooks in our project, but we still need to tell git to use them. To do this, we are going to use a feature of git that has been
			available since version 2.9. We can tell git to use a different folder to read its hooks from by setting the git config core.hooksPath to
			our directory. But we also want to do this in our build. There shouldn't be any manual steps. Let's add another plugin to our pom.xml.</p>
		<br />
		<pre class="code">
&lt;plugin&gt;
  &lt;groupId&gt;com.rudikershaw.gitbuildhook&lt;/groupId&gt;
  &lt;artifactId&gt;git-build-hook-maven-plugin&lt;/artifactId&gt;
  &lt;version&gt;3.0.0&lt;/version&gt;
  &lt;configuration&gt;
    &lt;gitConfig&gt;
      &lt;core.hooksPath&gt;etc/git-hooks/&lt;/core.hooksPath&gt;
      &lt;hooks.commitmsgregex&gt;(\w+\s){3,}(\w+\.)&lt;/hooks.commitmsgregex&gt;
    &lt;/gitConfig&gt;
  &lt;/configuration&gt;
  &lt;executions&gt;
    &lt;execution&gt;
      &lt;goals&gt;
        &lt;goal&gt;initialize&lt;/goal&gt;
        &lt;goal&gt;configure&lt;/goal&gt;
      &lt;/goals&gt;
    &lt;/execution&gt;
  &lt;/executions&gt;
&lt;/plugin&gt;</pre>
		<br />
		<p>This is the <a href="https://github.com/rudikershaw/git-build-hook" target="_blank">git-build-hook Maven plugin</a> (my precious).
			It is designed to define local git management/configuration in your build, and have it applied when the build is run.</p>

		<br />
		<br />
		<hr />

		<div class="article-footer" th:replace="articles/computationalmethod :: article-footer"></div>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - Git Hooks and Java Projects';
			var disqus_title = 'Git Hooks and Java Projects';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
