<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Nature vs Technology</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Is nature at odds with technology? The ramblings of a science enthusiast gone camping." />
		<meta name="author" content="Rudi Kershaw" />
        <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="/styles/style.css?v=2" />
		<link rel="shortcut icon" href="/images/RK.ico" />
	</head>
	<body>
		<div class="header" th:replace="index :: header"></div>
		<br />
		<div class="container">
			<p class="date">16/07/2016</p>
			<p class="views"><span th:text="${article.views}"></span> views</p>
		</div>
		<h1>Nature vs Technology</h1>
		<hr />
		<img class="coverimg" src="/images/nature-banner.jpg" alt="Which search algorithm to use?" height="150" width="810" />
		<br />
		
		<p>Spending a week in a safari tent in the midst of nine acres of raw unmolested woodland has drawn me to thinking about nature and the divide we see
            between it and science &amp; technology.</p>
		<br />
        <p>It would be easy to conclude that there is a rift between nature and technology. Our atmosphere is being saturated with CO<sub>2</sub> from the burning of
            fossil fuels extracted by giant machines, the air is filled to bursting with radio-waves such that frequencies are beginning to conflict, we cut down great
            swathes of forest &amp; woodland and lay waste to entire ecosystems for raw materials or to graze cattle so that our rapidly expanding and progressively
            more obese populations may gorge themselves. Not least of all our planet is littered with the by-products of our rapidly increasing capacity to manufacture
            convenience goods. You might easily be forgiven for concluding that science hasn't done our planet many favours.</p>
        <br />
        <p>When you glance at the surface of our situation it can seem quite clear that technology is ruining everything. But if you take the time to peer beneath the
            surface a much more disturbing reality presents itself.</p>
        <br />
        <img src="/images/trees-photo.jpg" width="760" style="display:block;margin:auto;" />
        <br />
        <p>Science is just our way of understanding nature. It is not the understanding of waves and the electromagnetic spectrum that littered our airways with gibberish.
            If all the radio transmitters on the planet were to suddenly fall silent I could still turn on a radio and hear something. Static is, amongst
            other things, the sound of cosmic background radiation created at the beginning of time as we know it. In the same sense it is not our understanding of the
            combustibility of accelerants that leads us to pour harmful mixtures into our soil and risk the suitability of our water or risk the integrity of our land when
            we choose to frack for natural gasses.</p>
        <br />
        <p>Knowledge is not a tool for good or for evil. The truth can hurt or it can mend wounds but it is not good or bad. It just <b>is</b>. It is the choices of people
            that are damaging our environment.</p>
        <br />
        <p>This isn't new. People have always thought very little about the long term consequences of their actions. Technology has just accelerated our capacity to achieve
            our goals and as such has accelerated us towards the consequences we have previously refused to think about. Even before the industrial revolution people have
            chopped down trees to build their houses, fuel their fires, warm themselves, and for craft. Even then this was probably unsustainable without some sort of effort
            to regrow what was removed. Once the industrial revolution was in full swing we had machines to haul our fallen trees, factories to produce wares from them, and
            so a much higher demand for raw materials.</p>
        <br />
        <p>When I look back I can't blame those people. A hand full of lumbar-jacks wouldn't know that our woodlands would grow scarce. The first railways wouldn't have known
            that the coal they burnt would grow scarce and eventually raise global temperatures. Over the last fifty years however, we have come to know the long term
            consequences of our actions. The same science we blame for our failures has shown these failures to us. It has shown us the damage our rubbish is doing to our
            sea-life, the potentially catastrophic effect our reliance on burning things has had on global temperatures, and the hole we have corroded in our ozone layer.</p>
        <br />
        <p>And yet we continue to over-consume without regard for our future. The large automakers do not invest in cleaner renewable fuel sources, happy to let others
            take on the risk of innovation. The large energy suppliers continue to put off switching to cleaner, renewable power stations for fear that they will be less
            profitable. Governments the world over refuse to impose tougher sanctions on the above for fear that their stocks in them will fall in value. Greed, laziness,
            and risk aversion have set us in our ways.</p>
        <br />
        <img src="/images/grass-photo.jpg" width="760" style="display:block;margin:auto;" />
        <br />
		<p>Technology may have enabled us to get to this point but it is lack of forward planning and personal responsibility that has brought us here and keeps us here.
            Assuming that we can not wait for human beings to grow a responsible collection moral conscience, what gets us out of this mess? The very thing that many cry
            out and call the cause of our problems. We need new technology. We need it to be cheap, profitable, clean, and renewable. If the technology can be blamed it is
            only because we have over used technologies that are inadequate for long term use, when they should have been simple stepping stones to something greater.</p>
		<br />
        <p>Let us diverge for a moment to think about an example. The construction of housing has meant removing our wild-life, destroying fields, heath, and woodland. We
            flatten the land, fill in rivers and lakes, cut down trees so that we can build our houses and the roads that lead to them. Why do we do all this? For
            convenience. Our trucks, diggers, and cranes can not operate in hilly, rocky, or woodland terrain. Wheels and tracks are inadequate for that environment so we
            rip up these ecosystems so we can continue to use our inadequate tools. The same can be said of our roads. We carve great swathes and valleys in our landscapes
            so that the wheels on our cars can drive us from A to B. If you take a moment to wonder why no life on earth evolved wheels the answer becomes obvious. They
            would get stuck, and then they would die.</p>
        <br />
        <p>The technology exists for vehicles with legs. NASA's recent entry to the DARPA robotics challenge can navigate any number of strange and irregular terrain. This
            technology is currently slow, cumbersome, and difficult to manufacture but imagine a future where all vehicles had this level of mobility. Housing estates could
            be built in woodlands without having to tear down many trees at all and we would need no roads for transport.</p>
        <br />
        <img src="/images/camp-photo.jpg" width="760" style="display:block;margin:auto;" />
        <br />
        <p>It is not just big companies and governments that resist changes that protect our future and our environment. This tendency to brand new technology as
            <b>unnatural</b> is both unhelpful and misleading. Public opinion has been heavily against GM crops more or less since it's inception completely without grounds.
            Research into GM crops, as well as gene therapy, and stem cell technologies have been heavily suppressed by overwhelming negative public opinion despite
            scientific consensus that they are safe and widely useful.</p>
        <br />
        <p>To summarise; science is simply our way of understanding nature, and technology is the tools we build with that knowledge. Science isn't at odds with nature. The
            idea of science is more in tune with nature than almost anything comprehensible. The rift we see between nature and technology occurs when we pick and choose what
            we like from science whilst ignoring or rejecting what doesn't suit us. This is further compounded by 'making do' and failing to strive for ideals. Stagnant
            technologies find themselves over-used. There are no hard and fast fixes to our problems. What needs fixing can only be resolved by taking the conclusions of
            the scientific process seriously and not hesitating to make necessary changes.</p>
        <br />
        <br />
		<hr />
		
		<div class="navigate">
			<a class="home" href="/">Home</a>
			<a class="next" href=""></a>
			<a class="previous" href="whichsearch2"></a>
		</div>
		<h1 style="clear:both;">Rudi Kershaw</h1>
		<h2>Web &amp; Software Developer, Science Geek, and Research Enthusiast</h2>
		<br />
		<br />
        <script src="/scripts/jquery-1.7.js"></script>
		<script src="/scripts/choices.js"></script>
        <script src="/scripts/search-graphics.js"></script>

		<div class="container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - Nature vs Technology';
			var disqus_title = 'Nature vs Technology';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
