<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head>
        <link th:replace="fragments/article/head :: head">
    </head>
	<body>
		<header th:replace="index :: header"></header>
		<article>
			<div class="text-container">
				<p class="date">18/05/2020</p>
				<p class="views"><span th:text="${article.views}">1</span> views</p>
			</div>

			<section>
				<h1 th:text="${article.name}">On Being Stuck</h1>
				<hr />
				<img class="coverimg" src="/images/on-being-stuck-banner.jpg" alt="A brown orange teddy bear stuck in a tree" />
				<br />
				<p>Every programmer gets stuck. You might be working on a particularly tricky bug, or in a domain you are unfamiliar with, and all of a
					sudden you are hit by that awful feeling. A exasperating feeling that can be summed up in the phrase "I have no idea where to go from here".
					Being able to break out of that rut is an important skill in itself.</p>
				<br />
				<p>So what should a programmer do when they get stuck? We'll get to that. But first, what <em>precisely</em> is <b>being stuck</b>?</p>
			</section>

			<section>
				<h2>What Is <i>Being Stuck</i>?</h2>
				<p>First things first, what do the dictionaries say? The most appropriate definition I can find for being stuck is from the
					<cite><a href="https://www.thefreedictionary.com/being+stuck">Cambridge Dictionary</a></cite> and it says:</p>
				<blockquote>
					<span class="green">"</span>not able to continue reading, answering questions, etc. because something is too difficult<span class="green">"</span>
				</blockquote>
				<p>Not bad, but we can do better. Saying something is too difficult is unhelpful and imprecise. It is tempting to just take that off the end of the
					definition. But if you're not able to continue because you're playing computer games then you're not stuck, you're procrastinating. So what
					differentiates someone who is procrastinating from someone who is genuinely stuck? Knowing the next step.</p>
				<br />
				<p>We're almost there with a precise enough definition, but something is missing. If I'm working and suddenly realise I don't know how to proceed, am I
					immediately stuck? It's tempting to say yes. But if I realise what to do two seconds afterward, was I stuck in hind-sight? No. Being stuck for two
					seconds isn't really being stuck. Now we have a precise definition for our purposes here.</p>
				<blockquote>
					<span class="green">"</span>Being stuck is not being able to continue with a given task, for a significant time, because we cannot work out how to proceed.<span class="green">"</span>
					<footer>- Me, <cite>just now</cite></footer>
				</blockquote>
			</section>

			<section>
				<h2>Time Management</h2>
				<p>Being stuck is like alcoholism<sup>(it isn't)</sup>. To fix it you must first recognise you have a problem. The sooner we can recognise that we're
					stuck or floundering the quicker we can get back on track. How can we ensure we're aware as soon as we can be? By using some common time management
					techniques.</p>
				<br />
				<ul class="dark">
					<li>Task estimates.</li>
					<li>Time trackers.</li>
					<li>Timeboxing.</li>
					<li>Pomodoro technique.</li>
				</ul>
				<h3>Task Estimates</h3>
				<p>If you look back to our definition, you'll noticed we used the ambiguous phrase <q>"for a significant time"</q>. That's because what we consider
					<i>significant</i> depends on our context. If you're looking for a proof that <var>P</var> ≠ <var>NP</var> then not making progress for a couple
					of days (or weeks or years) doesn't mean you're stuck, in fact it is expected. If on the other hand you're fixing a simple UI bug on a web
					application then you are well, truly, and extremely stuck.</p>
				<br/>
				<p>You need to know how long the problem is expected to take. Which is why you should always have an estimate of the time it will take to complete
					your current task, even if you make that estimate yourself.</p>
				<h3>Time Trackers</h3>
				<p>Knowing how long you can expect a task to take is great, but if you don't know how long you've been working on it how will you know that you're
					struggling? Tracking your time can be as simple as making a note of the time you started, or using an actual timer that runs while you work.</p>
				<h3>Timeboxing</h3>
				<p>Timeboxing simply means setting a time you'll be done by and sticking to it. You can use your original estimate, or some other upper limit. As
					this final time grows closer you will be more aware of any impediments to reaching your goal. You can also use it once you realise you are stuck,
					so that you can say <q>"if working this way doesn't bear fruit in the next hour, I need to rethink my approach"</q>.</p>
				<h3>Pomodoro Technique</h3>
				<p>The <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro technique</a> is a time management technique that combines elements of the
					others above. It can be approximately summed up as;</p>
				<br />
				<ol class="dark">
					<li>Set a timer for <var>x</var> minutes.</li>
					<li>Work elusively on your task.</li>
					<li>When the timer goes off tally a mark on a piece of paper.</li>
					<li>If you have less than four marks take a 5 minute break and goto 1.</li>
					<li>After 4 marks take a longer break and start again.</li>
				</ol>
				<br />
				<p>As well as being a productive way to work, the timer gives you an easy way to be sure when you're stuck. If you're having trouble when it goes off
					then you take your break and start again. If you're still stuck the next time the timer goes off, then you know you need to try something different.</p>
			</section>

		</article>
		<hr />

        <div class="article-footer" th:replace="fragments/article/footer :: article-footer"></div>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - On Being Stuck';
			var disqus_title = 'On Being Stuck';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
