<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	<head>
        <link th:replace="fragments/article/head :: head">
    </head>
	<body>
		<header th:replace="index :: header"></header>
		<article>
			<div class="text-container">
				<p class="date">18/05/2020</p>
				<p class="views"><span th:text="${article.views}">1</span> views</p>
			</div>

			<section>
				<h1 th:text="${article.name}">On Being Stuck</h1>
				<hr />
				<img class="coverimg" src="/images/on-being-stuck-banner.jpg" alt="A brown orange teddy bear stuck in a tree" />
				<br />
				<p>Every programmer gets stuck. You might be working on a particularly tricky bug, or in a domain you are unfamiliar with, and all of a
					sudden you are struck by that awful feeling. A exasperating feeling that can be summed up in the phrase "I have no idea where to go from here".
					Being able to break out of that rut is an important skill in itself.</p>
				<br />
				<p>I want to write a little about how we get ourselves out of this situation. But first, what <em>precisely</em> is <b>being stuck</b>?</p>
			</section>

			<section>
				<h2>What Is <i>Being Stuck</i>?</h2>
				<p>First things first, what do the dictionaries say? The most appropriate definition I can find for being stuck is from the
					<cite><a href="https://www.thefreedictionary.com/being+stuck">Cambridge Dictionary</a></cite> and it says:</p>
				<blockquote>
					<span class="green">"</span>not able to continue reading, answering questions, etc. because something is too difficult<span class="green">"</span>
				</blockquote>
				<p>Not bad, but we can do better. Saying something is too difficult is unhelpful and imprecise. It is tempting to just take that off the end of the
					definition. But if you're not able to continue because you're playing computer games then you're not stuck, you're procrastinating. So what
					differentiates someone who is procrastinating from someone who is genuinely stuck? Knowing the next step.</p>
				<br />
				<p>We're almost there with a precise definition, but something is missing. If I'm working and suddenly realise I don't know how to proceed, am I
					immediately stuck? It's tempting to say yes. But if I realise what to do two seconds afterward, was I stuck in hind-sight? No. Being stuck for two
					seconds isn't really being stuck. Now we have a precise definition for our purposes here.</p>
				<blockquote>
					<span class="green">"</span>Being stuck is not being able to continue with a given task, for a significant time, because we cannot work out how to proceed.<span class="green">"</span>
					<footer>- Rudi Kershaw, <cite th:text="${article.name}">On Being Stuck</cite></footer>
				</blockquote>
			</section>

			<section>
				<h2>Time Management</h2>
				<p>Being stuck is like alcoholism<sup>(it isn't)</sup>. To fix it you must first recognise you have a problem.</p>
			</section>

		</article>
		<hr />

        <div class="article-footer" th:replace="fragments/article/footer :: article-footer"></div>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - On Being Stuck';
			var disqus_title = 'On Being Stuck';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
