<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:replace="fragments/article/head :: head">
        <link rel="stylesheet" type="text/css" href="/styles/vendor/prism.min.css" />
    </head>
	<body>
		<header th:replace="index :: header"></header>
        <article>
            <div class="text-container">
                <p class="date">03/07/2016</p>
                <p class="views"><span th:text="${article.views}">1</span> views</p>
            </div>

            <section>
                <h1>Which Search Algorithm? - Part 2</h1>
                <hr />
                <img class="coverimg" src="/images/searchbanner.jpg" alt="The words 'Here I am!' written on a piece of paper amongst some colourful clutter" />
                <br />
                <p>In the <a href="whichsearch">first installation of Which Search Algorithm</a>, I covered exhaustive and binary searches. I also briefly
                    went through the required knowledge for getting the best out of these articles. This time I will be covering depth first and breadth
                    first searches, so let's jump straight into the subject.</p>
                <br />
                <p>Depth and breadth first searches are performed on <a href="https://en.wikipedia.org/wiki/Graph_(abstract_data_type)">graph</a>
                    structures. For this article I am going to assume we are dealing with an undirected graph in it's most abstract sense. We wont assume that we are using
                    a graph of any specific type. As an example, if we assumed we were only dealing with trees we could make assumptions about not having to deal
                    with cyclic paths. By assuming that <em>anything goes</em> in our graph we can theoretically write searches that will work on more varieties of graph.</p>
                <br />
                <p>Before we talk about both searches we had better define our nodes so that we know what we are dealing with. I will leave out getters and setters
                    for brevity (please remember <a href="https://en.wikipedia.org/wiki/Encapsulation_(computer_programming)">encapsulation</a> in your own code),
                    as well as any validation we might want to do when constructing the nodes.</p>
                <br />
                <div class="choices">
                    <ul>
                        <li class="selected">Java</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <div style="clear:both;" ></div>
                    </ul>

<pre class="choice" choice="Java"><code class="language-java">public class Node {
    public int value;
    public Set&lt;Node&gt; connections = new HashSet&lt;&gt;();
}</code></pre>

<pre class="choice" choice="JavaScript" style="display:none;"><code class="language-javascript">function Node() {
    this.value = 0;
    this.connections = [];
}</code></pre>

<pre class="choice" choice="Python" style="display:none;"><code class="language-python">class Node(object):
    value = 0
    connections = []

</code></pre>

                </div>
                <br />
            </section>

            <section>
                <h2>Depth First Search</h2>
                <p>Performing a depth first search simply means following possible edges (or connections) in the graph to the end of the path first before going back and searching
                    alternative routes. It is the computer science equivalent of looking for your keys by thoroughly searching each cupboard, draw, or shelf in a single room before
                    moving onto the next room. Below are some simple examples of depth first searches.</p>
                <br />
                <div class="choices">
                    <ul>
                        <li class="selected">Java</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <div style="clear:both;" ></div>
                    </ul>

<pre class="choice" choice="Java"><code class="language-java">Node depthFirstSearch(Node root, int value){
    Stack&lt;Node&gt; stack = new Stack&lt;Node&gt;();
    Set&lt;Node&gt; visited = new HashSet&lt;Node&gt;();
    if(root.value == value) return root;
    visited.add(root);
    stack.add(root);
    while(!stack.isEmpty()){
        Node node = stack.pop();
        for(Node child : node.connections){
            if(child.value == value){
                return child;
            } else if(!visited.contains(child)){
                stack.add(child);
                visited.add(child);
            }
        }
    }
    return null;
}</code></pre>

<pre class="choice" choice="JavaScript" style="display:none;"><code class="language-javascript">function depthFirstSearch(root, value){
    var stack = [];
    var visited = {};
    if(root.value === value) return root;
    visited[root];
    stack.push(root);
    while(stack.length &gt; 0){
        var node = stack.pop();
        for(var i = 0; i &lt; node.connections.length; i++){
            if(node.connections[i].value === value){
                return node.connections[i];
            } else if(!(node.connections[i] in visited)){
                stack.push(node.connections[i]);
                visited[node.connections[i]];
            }
        }
    }
    return null;
}</code></pre>

<pre class="choice" choice="Python" style="display:none;"><code class="language-python">def depthFirstSearch(root, value):
    stack = []
    visited = set()
    if root.value == value:
        return root
    visited.add(root)
    stack.append(root)

    while stack:
        node = stack.pop()
        for child in node.connections:
            if child.value == value:
                return child
            elif child not in visited:
                stack.append(child)
                visited.add(child)

    return null

</code></pre>

                </div>
                <br />
                <p>Essentially the way this works is we keep track of each node we look at and then we add the node's connections into a stack to check later. Because stacks are
                    last-in-first-out (LIFO) we end up dropping down a layer in the graph each time we check the next item in the stack. This is what it means to search <b>depth
                    first</b>. Take a look at the graphic below for a visual representation of how it works. Try searching for a number in the graph and
                    watch how the search is performed.</p>
                <br />
                <div class="container">
                    <input type="number" class="search-for" name="d-search-for" />
                    <input type="button" class="search-go" value="Search" name="d-search-go" />
                    <svg class="graph" id="depth-graph" viewBox="0 0 800 320">
                        <line x1="400" y1="40" x2="350" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="400" y1="40" x2="450" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="100" x2="400" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="100" x2="500" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="350" y1="100" x2="250" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="350" y1="100" x2="300" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="250" y1="100" x2="300" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="350" y1="100" x2="400" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="500" y1="160" x2="450" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="500" y1="160" x2="550" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="300" y1="160" x2="250" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="220" x2="400" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="220" x2="500" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="400" y1="280" x2="500" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="250" y1="220" x2="200" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="250" y1="220" x2="300" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>

                        <circle class="root" cx="400" cy="40" r="20" stroke="black" stroke-width="4" fill="#333333" ></circle>
                        <circle class="node2" cx="250" cy="100" r="20" fill="#333333" ></circle>
                        <circle class="node3" cx="350" cy="100" r="20" fill="#333333" ></circle>
                        <circle class="node4" cx="450" cy="100" r="20" fill="#333333" ></circle>
                        <circle class="node5" cx="300" cy="160" r="20" fill="#333333" ></circle>
                        <circle class="node7" cx="500" cy="160" r="20" fill="#333333" ></circle>
                        <circle class="node6" cx="400" cy="160" r="20" fill="#333333" ></circle>
                        <circle class="node10" cx="550" cy="220" r="20" fill="#333333" ></circle>
                        <circle class="node9" cx="450" cy="220" r="20" fill="#333333" ></circle>
                        <circle class="node8" cx="250" cy="220" r="20" fill="#333333" ></circle>
                        <circle class="node11" cx="200" cy="280" r="20" fill="#333333" ></circle>
                        <circle class="node12" cx="300" cy="280" r="20" fill="#333333" ></circle>
                        <circle class="node13" cx="400" cy="280" r="20" fill="#333333" ></circle>
                        <circle class="node14" cx="500" cy="280" r="20" fill="#333333" ></circle>

                        <text x="396" y="45" fill="white">1</text>
                        <text x="246" y="105" fill="white">2</text>
                        <text x="346" y="105" fill="white">3</text>
                        <text x="446" y="105" fill="white">4</text>
                        <text x="296" y="165" fill="white">5</text>
                        <text x="396" y="165" fill="white">6</text>
                        <text x="496" y="165" fill="white">7</text>
                        <text x="246" y="225" fill="white">8</text>
                        <text x="446" y="225" fill="white">9</text>
                        <text x="542" y="225" fill="white">10</text>

                        <text x="192" y="285" fill="white">11</text>
                        <text x="292" y="285" fill="white">12</text>
                        <text x="392" y="285" fill="white">13</text>
                        <text x="492" y="285" fill="white">14</text>
                        You are using an awful browser and it does not support inline SVG.
                    </svg>
                </div>
            </section>

            <section>
                <h2>Breadth First Search</h2>
                <p>Running a breadth first search is the opposite approach to searching depth first. When you search breadth first you check all nearby nodes first
                    before wandering off down any particular path. Where a depth first search goes as far as it can away from your starting position before coming back to check a
                    different path, a breadth first search checks everything close by first before moving onto nodes that are farther away.</p>
                <br />
                <p>There is also an interesting and useful side effect of a breadth first search. It can be used to identify the shortest path from your starting position (or root
                    node), to the node you are looking for. As such, breadth first searches are often used for path-finding. Below are some simple examples.</p>
                <br />
                <div class="choices">
                    <ul>
                        <li class="selected">Java</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <div style="clear:both;" ></div>
                    </ul>

<pre class="choice" choice="Java"><code class="language-java">Node breadthFirstSearch(Node root, int value){
    Queue&lt;Node&gt; queue = new LinkedList&lt;Node&gt;();
    Set&lt;Node&gt; visited = new HashSet&lt;Node&gt;();
    if(root.value == value) return root;
    visited.add(root);
    queue.add(root);
    while(!queue.isEmpty()){
        Node node = queue.poll();
        for(Node child : node.connections){
            if(child.value == value){
                return child;
            } else if(!visited.contains(child)){
                queue.add(child);
                visited.add(child);
            }
        }
    }
    return null;
}</code></pre>

<pre class="choice" choice="JavaScript" style="display:none;"><code class="language-javascript">function breadthFirstSearch(root, value){
    var queue = [];
    var visited = {};
    if(root.value === value) return root;
    visited[root];
    queue.push(root);
    while(queue.length &gt; 0){
        var node = queue.shift();
        for(var i = 0; i &lt; node.connections.length; i++){
            if(node.connections[i].value === value){
                return node.connections[i];
            } else if(!(node.connections[i] in visited)){
                queue.push(node.connections[i]);
                visited[node.connections[i]];
            }
        }
    }
    return null;
}</code></pre>

<pre class="choice" choice="Python" style="display:none;"><code class="language-python">def breadthFirstSearch(root, value):
    queue = Queue.Queue()
    visited = set()
    if root.value == value:
        return root
    visited.add(root)
    queue.put(root)

    while queue:
        node = queue.get()
        for child in node.connections:
            if child.value == value:
                return child
            elif child not in visited:
                queue.put(child)
                visited.add(child)

    return null
</code></pre>

                </div>
                <aside>Note: The JavaScript implementation of Breadth First Search above is not efficient. The use of the <i><code>.shift()</code></i> method is slow ( <i>O(n)</i> rather
                    than <i>O(1)</i> ). I have used a JavaScript array for brevity but I suggest finding a correct queue implementation for your own code.</aside>
                <br />
                <p>If you were paying attention to the above examples you may have noticed that they look almost exactly the same. That's because they
                    <em>are</em> almost exactly the same. The only difference in the implementation is that the breadth first search uses a queue instead of a stack for storing nodes to
                    visit next. This way the first nodes you check get visited next (fist-in-first-out) and so you always search by spreading out from where you started. This is
                    ultimately what it means to search <b>breadth first</b>. There is another graphic below demonstrating this. Try searching for a number.</p>
                <br />
                <div class="container">
                    <input type="number" class="search-for" name="bf-search-for" />
                    <input type="button" class="search-go" value="Search" name="bf-search-go" />
                    <svg class="graph" id="breadth-graph" viewBox="0 0 800 320">
                        <line x1="400" y1="40" x2="350" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="400" y1="40" x2="450" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="100" x2="400" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="100" x2="500" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="350" y1="100" x2="250" y2="100" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="350" y1="100" x2="300" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="250" y1="100" x2="300" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="350" y1="100" x2="400" y2="160" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="500" y1="160" x2="450" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="500" y1="160" x2="550" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="300" y1="160" x2="250" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="220" x2="400" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="450" y1="220" x2="500" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="400" y1="280" x2="500" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="250" y1="220" x2="200" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>
                        <line x1="250" y1="220" x2="300" y2="280" style="stroke:rgb(0,0,0);stroke-width:2" ></line>

                        <circle class="root" cx="400" cy="40" r="20" stroke="black" stroke-width="4" fill="#333333" ></circle>
                        <circle class="node2" cx="250" cy="100" r="20" fill="#333333" ></circle>
                        <circle class="node3" cx="350" cy="100" r="20" fill="#333333" ></circle>
                        <circle class="node4" cx="450" cy="100" r="20" fill="#333333" ></circle>
                        <circle class="node5" cx="300" cy="160" r="20" fill="#333333" ></circle>
                        <circle class="node7" cx="500" cy="160" r="20" fill="#333333" ></circle>
                        <circle class="node6" cx="400" cy="160" r="20" fill="#333333" ></circle>
                        <circle class="node10" cx="550" cy="220" r="20" fill="#333333" ></circle>
                        <circle class="node9" cx="450" cy="220" r="20" fill="#333333" ></circle>
                        <circle class="node8" cx="250" cy="220" r="20" fill="#333333" ></circle>
                        <circle class="node11" cx="200" cy="280" r="20" fill="#333333" ></circle>
                        <circle class="node12" cx="300" cy="280" r="20" fill="#333333" ></circle>
                        <circle class="node13" cx="400" cy="280" r="20" fill="#333333" ></circle>
                        <circle class="node14" cx="500" cy="280" r="20" fill="#333333" ></circle>

                        <text x="396" y="45" fill="white">1</text>
                        <text x="246" y="105" fill="white">2</text>
                        <text x="346" y="105" fill="white">3</text>
                        <text x="446" y="105" fill="white">4</text>
                        <text x="296" y="165" fill="white">5</text>
                        <text x="396" y="165" fill="white">6</text>
                        <text x="496" y="165" fill="white">7</text>
                        <text x="246" y="225" fill="white">8</text>
                        <text x="446" y="225" fill="white">9</text>
                        <text x="542" y="225" fill="white">10</text>

                        <text x="192" y="285" fill="white">11</text>
                        <text x="292" y="285" fill="white">12</text>
                        <text x="392" y="285" fill="white">13</text>
                        <text x="492" y="285" fill="white">14</text>
                        You are using an awful browser and it does not support inline SVG.
                    </svg>
                </div>
            </section>

            <h2>Which One Should We Use?</h2>
            <p>Determining whether you want to use a depth first or breadth first search depends on the nature of your data as well as the kind of
                information you want to find. Imagine a family tree expressed as a graph with yourself as the root. If you wanted to perform a search for a living but distant relative
                you will be wanting to perform a breadth first search. If, on the other hand, you wanted to find historic ancestors from hundreds of
                years ago a depth first search makes much more sense.</p>
            <br />
            <p>If you have completely unstructured data with no pattern to the depth or breadth it doesn't make a great deal of difference which search type you choose
                (both have a complexity of <b>O(n+e)</b> where <var>n</var> is the number of nodes and <var>e</var> is the number of edges/connections). Conversely, knowing a
                little about the structure of your graph can tell you how you should be searching it. There is no hard and fast rules for choosing, it is about knowing
                your data, and knowing what you are looking for. <a href="http://stackoverflow.com/a/3332994/2182928">This stackoverflow answer</a> offers
                some good rules of thumb.</p>
        </article>
		<hr />

        <div class="article-footer" th:replace="fragments/article/footer :: article-footer"></div>

        <script src="/scripts/vendor/jquery-1.7.min.js"></script>
        <script src="/scripts/vendor/prism.min.js"></script>
		<script src="/scripts/choices.min.js"></script>
        <script src="/scripts/search-graphics.min.js"></script>

		<div class="text-container"><div id="disqus_thread"></div></div>
		<script type="text/javascript">
			/* * * Configure Disqus Variables * * */
			var disqus_shortname = 'codenerd';
			var disqus_identifier = '1 - Which Search Algorithm  - Part 2';
			var disqus_title = 'Which Search Algorithm  - Part 2';

			/* * * Declare disqus display script * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</body>
</html>
