/* Modified Eric Meyer's Reset CSS v2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,u,center,dl,dt,dd,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,ol,ul,li,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{border:0;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.2;}ol,ul{list-style:none}sup{font-size:small;}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* And the rest. */
@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

html {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,0.02);
	scroll-behavior: smooth;
	box-sizing: border-box;
}

h1 {
	margin-top: 10px;
	font-size: 50px;
}

h2 {
	font-size: 26px;
	margin: 25px 0 10px;
}

h3 {
	font-size: 24px;
	margin: 20px 0 10px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

p > i {
	font-weight: bold;
	font-size: 17px;
}

a {
	color: #ED5900;
} a:hover{
	cursor: pointer;
} a:hover div img {
	filter: alpha(opacity=100);
    opacity: 1;
}

.bold {
	font-weight: bold;
}

.code-inline {
	font-family: "Courier New", Courier, monospace;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

header {
	background-color: #272727;
	border-top-color: #ED5900;
	box-sizing: border-box;
	border-top-width: 5px;
	border-style: solid;
	position: absolute;
	padding: 5px 20px;
	min-height: 58px;
	width: 100%;
	z-index: 2;
	top: 0;
}

div.footer {
	background-color: #272727;
	text-align: center;
	margin-top: 20px;
	padding: 30px;
	color: white;
}

a.rklogo {
	text-decoration: none;
	letter-spacing: -5px;
	position: relative;
	line-height: 0.72;
	margin-right: 5px;
	font-size: 79px;
	color: white;
	float: left;
	top: 1px;
}
a.sociallink {
	transition: all .2s .05s;
	border-radius: 4px;
	background: white;
    text-align: center;
	margin-top: 28px;
	margin-left: 8px;
    font-size: 25px;
	display: block;
	color: #272727;
	height: 29px;
	width: 29px;
	float: left;
	top: 0;
} a.sociallink:hover {
	position: relative;
	text-shadow: none;
	top: -5px;
}

a.donatelink {
	transition: all .2s .05s;
	background-color: white;
	font-family: sans-serif;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 28px;
	margin-left: 8px;
	padding: 0 5px;
	line-height: 2;
	display: block;
	color: #272727;
	height: 29px;
	width: 68px;
	float: left;
	top: 0;
} a.donatelink:hover {
	position: relative;
	text-shadow: none;
	top: -5px;
}

div.faded-background-cover {
	background-color: #FFFFFF;
	box-sizing: border-box;
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 100%;
	z-index: 5;
	left: 0;
	top: 0;
}

div.entries.container {
    text-align: center;
} div.entry {
	margin: 50px 50px 0 50px;
    border-color: #DDDDDD;
	border-top-color: #ED5900;
	border-width: 1px;
	border-top-width: 4px;
	display: inline-block;
	padding-bottom: 10px;
	border-style: solid;
	text-align: center;
	min-height: 292px;
	max-width: 290px;
} div.entry > h4 {
	background-color: #272727;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	font-size: 20px;
	padding: 5px;
	color: white;
	max-width: 280px;
} div.entry > img {
    transition: all 0.2s 0.1s;
    filter: alpha(opacity=80);
	margin-bottom: 5px;
	margin-right: 10px;
	opacity: 0.8;
} div.entry > p {
	text-align: center;
	max-height: 120px;
	overflow: hidden;
	display: block;
    width: auto;

    padding: 10px;
}

h1.my-name {
	margin: 0;
	color: #ED5900;
	font-size: 80px;
}

h2.my-summary {
	font-size: 42px;
	margin: 0 0 30px 0;
}

p.my-description {
	margin-bottom: 20px;
	max-width: 550px;
	font-size: 20px;
}

a.theres-more {
	animation: bounce 1s 3;
	text-decoration: none;
	margin-bottom: 45px;
	text-align: center;
	font-size: 50px;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}

ul.bullets > li {
	margin-top: 5px;
	font-size: 14px;
	color: #333333;
}

ul.bullets > li:before {
	position: relative;
	margin: 0 8px 0 0;
	font-size: 10px;
	content: "▶";
	top: -2px;
}

article {
	margin: 120px auto 50px auto;
	max-width: 810px;
	padding: 0 20px;
}

.article-footer {
	text-align: center;
}

h5.quoteblock {
	text-align: center;
	font-weight: bold;
	margin: 20px auto;
	font-size: 20px;
}

h2.my-articles {
	text-align: center;
	margin-top: 70px;
	font-size: 46px;
}

div.black-band {
	background-color: #272727;
	margin: 10px 0 40px 0;
	text-align: center;
	padding: 40px;
	color: white;
}
div.black-band img {
	border: 8px solid black;
	max-height:100%;
	max-width:100%;
}

div.black-band p, div.black-band h2, div.black-band h3 {
	padding: 8px 30px;
	max-width: 500px;
	color: white;
	margin: auto;
	width: auto;
}
div.black-band h2 {
    font-size: 32px;
    color: #ED5900;
}
div.black-band a {
    transition: all 0.2s 0.1s;
    filter: alpha(opacity=60);
	text-decoration: none;
    opacity: 0.6;
} div.black-band a:hover {
     filter: alpha(opacity=100);
     text-shadow: none;
     opacity: 1;
 }

img.coverimg {
	margin: 5px auto;
	max-width: 810px;
	display: block;
	height: auto;
	width: 100%;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* Doubled up for IE 11 support. */
	justify-content: space-around;
	justify-content: space-evenly;
}

.flex-row > div {
	text-align: center;
	margin: 30px 10px;
}

.flex-row > div .entry {
	margin: 0;
}

.grey {
	color: #444;
}

.tweet {
	align-items: flex-start;
	border: solid 1px #DDD;
	text-decoration: none;
	background: white;
	text-align: left;
	flex-wrap: wrap;
	display: flex;
	padding: 15px;
	color: black;
}

.tweet .profile-image {
	border: solid 1px #BBB;
	margin: 0 10px 10px 0;
	border-radius: 50%;
	min-width: 50px;
}

.tweet .tweet-body {
	max-width: 400px;
	min-width: 285px;
}

.tweet .tweet-text {
	white-space: pre-wrap;
	min-height: 80px;
}

.tweet .flex-row {
	justify-content: space-between;
	margin-right: 20px;
}

.tweet .twitter-handle {
	margin-bottom: 6px;
}

.tweet .twitter-handle .grey {
	word-spacing: 2px;
}

.tweet .tweet-media-image {
	max-width: 400px;
}

.tweet .tweet-image-container {
	border: solid 1px #BBB;
	border-radius: 15px;
	max-height: 250px;
	margin-top: 10px;
	overflow: hidden;
}

div.calendar div.position-relative {
	padding: 20px;
}

.container {
	min-height: 30px;
	max-width: 810px;
	display: block;
	margin: auto;
}

.view-height {
	height: 100vh;
	display: flex;
	padding: 0 20px;
	position: relative;
	flex-direction: column;
}

.view-height .off-centre {
	position: relative;
	left: -100px;
}

.text-container {
	min-height: 30px;
	max-width: 800px;
	padding: 0 10px;
	display: block;
	margin: auto;
}

p.date {
	display: inline-block;
	font-size: 20px;
}

p.views {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 20px;
	float: right;
}

.code-header {
	background-color: #111;
	padding: 10px 20px;
	color: lightgrey;
	font-size: 20px;
	overflow: auto;
}

.code {
	font-family: "Courier New", Courier, monospace;
	background-color: #383838;
	color: lightgrey;
	font-size: 15px;
	overflow: auto;
	padding: 20px;
}

.code h3 {
	margin: 0;
}

.code ol {
    counter-reset: item;
}

.code ol > li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #347B34;
}

.chart-js {
    display: block;
    max-width: 700px;
    height: auto;
    margin: auto;
}

div.info-box {
	border-radius: 10px;
	background: #272727;
	font-size: 14px;
	margin: 10px 0;
	padding: 14px;
	color: white;
}

.choices {
	background-color: #333333;
    clear: both;
}
.choices li {
 	background-color: #272727;
 	text-align: center;
 	margin-left: 2px;
 	font-size: 20px;
 	padding: 20px 0;
 	color: white;
 	float: left;
 	width: 32.9%;
}
.choices li:hover {
	background-color: #ED5900;
	cursor: pointer;
}
li.selected {
	background-color: #ED5900;
}

span.yellow { color: #E6B800; }
span.purple { color: #7F36B0; }
span.orange { color: #ED5900; }
span.green { color: #347B34; }
span.jade { color: #347B94; }

div.navigate {
	max-width: 800px;
	display: block;
	margin: auto;
}

a.home {
    transition: all 0.2s 0.1s;
	background-color: #ED5900;
	text-decoration: none;
	font-size: 40px;
	color: white;
	display: block;
	padding: 8px 20px;
	margin: 20px;
	float: left;
} a.home:hover {
	background-color: #272727;
	text-shadow: none;
}

a.home-center {
	background-color: #ED5900;
	text-align: center;
	padding: 10px 20px;
	margin: 20px auto;
	font-size: 40px;
	display: block;
	width: 160px;
	color: white;
} a.home-center:hover {
	background-color: #272727;
	text-shadow: none;
}

div.next-previous {
    display: inline-block;
    width: 200px;
    float: right;
}

a.previous {
    transition: all 0.2s 0.1s;
	border-color: transparent #ED5900 transparent transparent;
	border-width: 30px 60px 30px 0;
	border-style: solid;
	display: block;
	margin: 20px;
	float:right;
	height: 0;
	width: 0;
} a.previous:hover {
	border-color: transparent #272727 transparent transparent;
}
a.previous-off { border-color: transparent darkgrey transparent transparent; }
a.previous-off:hover { border-color: transparent darkgrey transparent transparent; }

a.next {
    transition: all 0.2s 0.1s;
	border-color: transparent transparent transparent #ED5900;
	border-width: 30px 0 30px 60px;
	border-style: solid;
	display: block;
	margin: 20px;
	float:right;
	height: 0;
	width: 0;
} a.next:hover {
	border-color: transparent transparent transparent #272727;
}
a.next-off { border-color: transparent transparent transparent darkgrey; }
a.next-off:hover { border-color: transparent transparent transparent darkgrey; }

#page {
	text-align: center;
	margin: auto;
}
#waiting {
	padding: 250px;
	display: block;
	margin: auto;
}

.donate {
	text-align: center;
	margin: 50px auto;
	width: 120px;
} .donate:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
} .donate img {
	background-color: black;
}

ul.search-graphic {
	margin: 10px 20px;
}

ul.search-graphic > li{
	background: #333333;
	text-align: center;
	margin-left: 1px;
	padding: 10px 0;
	color: white;
	float: left;
	width: 6.5%
}

ul.search-graphic > li.checked{
	background: #777777;
}

ul.search-graphic > li.found{
	background: #ED5900;
}

svg.graph {
    margin-top: 20px;
    width: 100%;
}

.search-for {
	text-align: center;
	margin-left: 22px;
	padding: 10px;
	width: 25%;
	float: left;
	display: block;
}

.search-go {
	background: #ED5900;
	font-weight: bold;
	font-size: 16px;
	display: block;
	padding: 11px;
	color: white;
	border: none;
	width: 25%;
} .search-go:hover {
	background: #272727;
	cursor: pointer;
}

p.reference {
	font-size: 13px;
	margin: 2px auto;
}

a.close-link {
	background-image: url('/images/cross.png');
	background-size: cover;
	display: block;
	height: 29px;
	width: 29px;
	float: right;
}

a.stack-overflow-link {
	overflow: hidden;
	float: right;
}

a.stack-overflow-link > img {
	margin: -1px -1px -5px -1px;
}

/* Responsive CSS adjustments for mobile devices. */

@media (max-width: 800px) {
    div.entry {
    	margin: 50px 25px 0 25px;
    }
}

@media (max-width: 555px) {
    .stack-overflow-link {
        display:none;
    }

    .choices li {
     	width: 32.5%;
    }

    a.rklogo {
		font-size: 41px;
    }

	h1.my-name {
		font-size: 56px;
	}

	h2.my-summary {
		font-size: 28px;
	}

	p.my-description {
		font-size: 16px;
	}

    a.sociallink {
    	margin-top: 1px;
    } a.sociallink:hover {
	    top: 0;
    	text-shadow: 0 0 1px,
                     0 0 1px,
                     0 0 1px,
                     0 0 1px;
    }

    a.donatelink {
    	margin-top: 1px;
    } a.donatelink:hover {
	    top: 0;
    	text-shadow: 0 0 1px,
                     0 0 1px,
                     0 0 1px,
                     0 0 1px;
    }

    header {
        min-height: 31px;
    }

	article {
		margin: 80px auto 50px auto;
	}

	.code {
		font-size: 12px;
	}
}

@media (max-width: 420px) {
    div.next-previous {
        display: block;
        margin: auto;
        float: none;
    }
}

@media (max-width: 850px) {
	div.calendar {
		width: auto;
	}
}

@media (max-width: 900px) {
	.view-height .off-centre {
		position: relative;
		left: 0;
	}
}

@media (max-height: 600px) {
	.view-height {
		margin-top: 90px;
		height: auto;
	}

	a.theres-more {
		display: none;
	}
}

/* Feature - Whichpet specific styling. */

div.whichpet { background: #ED5900; margin-top: 68px; color: #EEE; }
div.whichpet h1, div.whichpet h2 { text-align: center; }
div.whichpet-ui { border-radius: 10px; text-align: center; background: white; margin: 40px auto; padding: 40px; color: black; max-width: 550px; }
div.whichpet select { font-size: 24px; }
div.whichpet input[type="button"] { background: #ED5900; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 26px; }
div.whichpet input[type="button"]:hover { background: #272727; cursor: pointer; color: #ED5900; }
div.whichpet textarea { font-size: 18px; resize: none; width: 90%; padding: 5px 4px 5px 10px;}
div.whichpet div.popup { display: none; background: rgba(34,34,34,0.9); position: fixed; width: 100%; height:100%; padding-top: 100px; top: 0; left: 0 }
div.whichpet div.popup div.box { width: 600px; margin: auto; background: white; padding: 20px 20px; text-align: center;}
div.whichpet #click-for-more a { text-decoration: underline; cursor: pointer; color: white; }
div.whichpet #they-clicked-for-more { padding: 30px; color: black; max-width: 800px; margin: auto; border-radius: 10px; background: white; }
